<mat-dialog-content class="mat-typography">
  <h2>Hil Selection</h2>

  <table mat-table [dataSource]="dataSource">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- labcarname Column -->
    <ng-container matColumnDef="labcarname">
      <th mat-header-cell *matHeaderCellDef>Labcarname</th>
      <td mat-cell *matCellDef="let element">{{ element.labcarname }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</mat-dialog-content>
<div class="loader-wrapper" *ngIf="loading">
  <div class="loader-inner">
    <div>
      <mat-progress-spinner color="primary" mode="indeterminate" value="50">
        >
      </mat-progress-spinner>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="selection.selected"
  >
    Save and close
  </button>
</mat-dialog-actions>
