<mat-dialog-content class="mat-typography">

    
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label >Username </mat-label>
                  <input matInput [(ngModel)]="user.username" name="user" placeholder="Enter your username" >
                </mat-form-field>
    
        

    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" [mat-dialog-close]="user.username" (click)="onSubmit()">
            Save and close
        </button>
    </mat-dialog-actions>