<div class="row mb-4">
  <div
    class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-4 d-flex justify-content-center"
    (click)="openHilsSelectionDialog()"
  >
    <app-settings-menu-item
      [title]="'Hils'"
      [icon]="'storage'"
    ></app-settings-menu-item>
  </div>
  <div
    class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-4 d-flex justify-content-center"
    (click)="openPropertiesSelectionDialog()"
  >
    <app-settings-menu-item
      [title]="'Properties'"
      [icon]="'memory'"
    ></app-settings-menu-item>
  </div>
  <div
    class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-4 d-flex justify-content-center"
  >
    <app-settings-menu-item
      [title]="'User'"
      [icon]="'account_circle'"
    ></app-settings-menu-item>
  </div>
</div>
