<div class="row mt-4">
  <div class="col-sm-4" (click)="openDialog()">
    <div class="settings-wrapper rounded-circle text-center ">
      <i class="fa fa-tasks fa-3x" aria-hidden="true"></i>
      <h4>HILS</h4>
      <span class="material-icons md-96">
        directions_car
      </span>
    </div>
  </div>
  <div class="col-sm-4" >
    <div class="settings-wrapper rounded-circle text-center ">
      <i class="fa fa-tasks fa-3x" aria-hidden="true"></i>
      <h4>Account</h4>
      <span class="material-icons md-96">
        account_circle
      </span>
    </div>
  </div>
  <div class="col-sm-4" >
    <div class="settings-wrapper rounded-circle text-center ">
      <i class="fa fa-tasks fa-3x" aria-hidden="true"></i>
      <h4>Test</h4>
      <span class="material-icons md-96">
        description
      </span>
    </div>
  </div>
</div>
