.no-data {
  background-color: #fff3e0;
}

.example-header-image {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-margin {
  margin: 0 auto;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
  .loader-inner {
    padding: 12px;
  }
}

.example-card {
  background-color: rgba(206, 199, 199, 0.469);
}
