.no-data {
    background-color: #fff3e0;
}


.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .material-icons.md-48 { font-size: 48px; }